<div class="p-2 m-2 bg-red-300 rounded-3xl">
  <p class="text-3xl italic text-center">Este es contendio sensible</p>
  <p class="text-lg text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur optio placeat fugit reprehenderit pariatur minima quisquam et porro quas illum officiis incidunt quasi, tempora iste ipsum natus non reiciendis illo. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere dolorem autem quo deleniti quasi iusto veniam repudiandae cum ea fugiat. Ducimus doloremque nesciunt neque eius unde provident ea dicta tenetur!</p>
</div>
